<h1>Department Form</h1>


<div class="col-md-6">
  <form [formGroup] ="departmentForm" >
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" formControlName="name" placeholder="Name" name="name" class="form-control">
    </div>

    <button class="btn btn-success" (click)="id ? updateDepartment(): createDepartment()">{{id ? 'Update' : 'Create'}}</button>
    <span *ngIf="departmentForm.controls['name'].invalid && departmentForm.controls['name'].touched"></span>
  </form>
</div>
