<button type="button" class="btn btn-primary float-right m-2"
        data-toggle="modal" data-target="#exampleModal" (click)="addClick()"
        data-backdrop="static" data-keyboard="false">
  Add new employee
</button>
<div class="modal-body">
  <app-employees-form [employee]="employee"></app-employees-form>
</div>
<div class="col-md-6">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Date of Birthday</th>
      <th>Email</th>
      <th>Salary</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employeeList">
      <td>{{employee.empId}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.date}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.salary}}</td>
      <td>
        <button class="btn btn-light mr-1" type="button"
                data-toggle="modal" data-target="#exampleModal" (click)="updateClick(employee)"
                data-backdrop="static" data-keyboard="false">
        </button>
        <button class="btn btn-danger" (click)="deleteEmployee(employee.empId)"> Delete Employee</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
